html, body
{
position: relative;
width: 100%;
display: block;
text-align: center;
}
a{ 
text-decoration: none;
color: black;
font-size: 25px;
padding: 10px;
}
a:visited {color: black;}
a:hover {color: #FF0000;}

a.footer{
/*Footer linkek*/
}

input:hover{
border-color: #FF0000;
}

.login
{
white-space: nowrap;
display: inline-block;
margin-left: auto;
margin-right: auto;
}

.login-error
{
border-color: red;
border-width: 2;
border-style: dotted;
}
#Login_Error
{
color: red;
border-color: red;
border-width: 1px;
border-style: solid;
display: none;
}
.Error
{
color: red;
}
.EditTd
{
display: none; /* none: Jegyszerkezto elrejtése alapértelmezetten / block: Jegyszerkezto alapértelmezett megjelenítése */
}