body
{
text-align: center;
}
.Menu a{ 
text-decoration: none;
color: black;
font-size: 25px;
padding: 10px;
}
.Sub-Menu a { 
text-decoration: none;
color: black;
font-size: 20px;
padding: 10px;
}
.Menu a, .Sub-Menu a:visited {color: black;}
.Menu a:hover, .Sub-Menu a:hover { color: #FF0000;}

div.footer{
box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
background: black;
color: white;
position: absolute;
bottom: 0px;
width: 99%;
}
div.footer a {
    color: white;
}
/**
Táblázat design
*/
table{
    border: 1px solid black;
    border-radius: 3px;
    border-collapse: collapse;
}
td, tr{
    border: none;
}
tr:nth-child(even){
    background: grey;
    color: white;
}
tr:nth-child(odd){
    background: black;
    color: white;
}
tr:nth-child(odd) input[type="button"], tr:nth-child(odd) input[type="submit"]{
    background: white;
    color: black;
}
tr:hover{
	background: #DFDED9;
	color: black;
}
/*tr:nth-child(odd):hover{
	background: #DFDED9;
}*/
/**
Form mezõk designja
*/
input[type="text"], input[type="password"], select{
    border: 1px solid black;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
input[type="button"], input[type="submit"]{
    border-color: black;
    border-style: solid;
    color: white;
    background: black;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
input:hover{
    border-color: #FF0000;
    box-shadow: 0px 0px 1px #FF0000;
}
input:focus{ 
    border-color: #FF0000; 
    box-shadow: 0px 0px 1px #FF0000;
}

.login
{
margin-left: auto;
margin-right: auto;/**/
}

.login-error
{
border-color: red;
border-width: 2;
border-style: dotted;
width: 30%;
margin-left: auto;
margin-right: auto;
}
.Error
{
color: red;
}
.EditTd
{
display: none; /* none: Jegyszerkezto elrejtése alapértelmezetten / block: Jegyszerkezto alapértelmezett megjelenítése */
}